{% extends "base.html.twig" %}

{% block content %}

    <div class="Formbody">
        <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-12 text-center">
                <img src="img/wowpage/wow.gif" height="200px"alt="Responsive image">
            </div>
        </div>
        <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 text-center">    
                <button type="button" class="col-md-4 btn btn-outline-danger"><u>Déconnection</u></button>
            </div>    
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                <thead class="thead">
                    <tr>
                        <th><u>World of Warcraft</u></th>
                        <th>Dernier messsage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Guilde</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Classe / World of Warcraft</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>Candidature</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
                </table>  
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                <thead class="thead">
                    <tr>
                        <th><u>Communauté</u></th>
                        <th>Dernier messsage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Générale Battle For Azerth</td>
                        <td>@fat</tGd>
                    </tr>
                    <tr>
                        <td>PvE / PvP</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                    <td>Interface / Macros</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Evénements / Créations</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
                </table>  
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                <thead class="thead">
                    <tr>
                        <th><u>Autre Communauté</u></th>
                        <th>Dernier messsage</th>
                    </tr>
                </thead>
                <tr>
                    <th>Autres Jeux (Pc,Console)</th>
                    <th>@mdo</th>
                </tr>
                </table>  
            </div>
        </div>
        <footer class="page-footer font-small blue pt-4">
                <div class="col-md-3"></div>
                <div class="text-center"> 
                    <img src="img/wowpage/footer.png" class="img" height="100px" alt="Responsive image" />
                </div>
        </footer>
    </div>  

{% endblock %}
