<div id="carouselExampleIndicators" class=" mb-5 carousel " data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/wowclassic.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/bc.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/lk.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/cata.jpg" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/mop.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/wod.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/legion.png" alt="Responsive image">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="http://127.0.0.1:8000/img/wowpage/bfaz.jpg" alt="Responsive image">
        </div>
    </div>
</div>
