{% extends "base.html.twig" %}

{% block content %}
    <hr class="my-4">
    {% for categorie in categories %}
        <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th><u>{{ categorie.name }}</u></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subcat in categorie.subcats %}
                                    <tr>
                                        <td>
                                            <div class="spinner-grow  textFB mr-sm-1" role="status"></div>
                                            <a href="{{ path('subcat', { 'subcat': subcat.id }) }}">{{ subcat.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>  
                    </div>
                <div class="col-md-2"></div>
            </div>      
    {% endfor %}
    <hr class="my-4">        
{% endblock %}
