{% extends "base.html.twig" %}

{% block content %}
    <hr class="my-4">
    {% for categorie in categories %}
        <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th><u>{{ categorie.name }}</u></th>
                                    <th>Dernier messsage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subcat in categorie.subcats %}
                                    <tr>
                                        <td><a href="{{ path('subcat', { 'subcat': subcat.id }) }}">{{ subcat.name }}</a></td>
                                        <td>utilisateur</td>
                                        <td>date/heure</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>  
                    </div>
                <div class="col-md-2"></div>
            </div>
            <hr class="my-4">
    {% endfor %}        
{% endblock %}
