<div id="carouselExampleIndicators" class="col-md-6 carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block1" src="img/wowpage/wow.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/bc.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/lk.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/cata.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/mop.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/wod.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/legion.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block1" src="img/wowpage/bfaz.jpg">
        </div>
    </div>
</div>