<div class="row">
    <div class="col-md-1"></div>
        <figure>
            <figcaption><u>Musique World Of Warcraft:</u></figcaption>
            <audio controls volume="0.2" src="son/Warcraft - Warcraft Score by Ramin Djawadi.mp3">
            </audio>
        </figure>
    <div class="col-md-4"></div>
</div>