
.Formbody {
    background-color: black;
    color: white;

}

.Formbody2 {
    background-color: red;
    color: white;

}

.imgfooter {
    width: 900px;
}

.imgfooterindex {
    width: 300px;
}

.tittle {
    color: white;

}
.undertittle {
    color: white;

}
/* HR */
.my-4 {
    margin: 25%;
    height: 1px;
    background-image: radial-gradient(circle at center,black 50px, red );

}
/**/
/* Modal Configue Reglement, Recrutement */
.modalVeryLarge {
    color: white;
}

.modal{
    background-image:url(../img/wowpage/4.jpg);
	

}

.modal-header{
    background-color: black;
    border: black;
    color: white;
}


.modal-body{
    background-color: black;
    color: white;
    border: 3px solid red;
    
}

.modal-footer{
    background-color: black;
    border-top: 5px solid black;

}
.mainButton {
    width: 40%;
    border-color:blue;

}

.mainButtonmodal1 {
    width: 100%;
    
}

.mainButtonmodal {
    width: 100%;
    border-color:blue;
    
}

.mainButton2 {
    width: 50%;
    border-color:red;

}
/**/
/* Partie Recrutement */
.my-5 {
    margin: 10%;
    height: 2px;
    width: 200px;
    background-color: red;

} 

.modal button {
    color: white;
    border-color:blue;
    background-color: black; 
    width: 100%;
}

.table td, .table th, .table thead th {
    border: 2px solid red;
    color: white;
    width: 15%;

}
 /**/

/*Connection*/
.mainButton4 {
    width: 50%;
    border-color:red;

}
/**/
/* Carousel */
.d-block1 {
    width: 500px;
    height: 200px;
    
}
/**/

label {
    color:red;

}
/**/
/* Navbar */

.form-inline .form-control  {
    color: blue;
    border-color: blue;
    background-color: black;

}

.navbar {
    /*background-image: radial-gradient(circle at center,red 50px, black );*/
    background-color: black;
    border:5px double red;
    
}

.text-uppercase {
    color: red;
    font-size: 1 rem;
    margin-top: 15px;
}

.mainButton3, a {
    width: 10%;
    border-color:red;
    

}

.mainButton5 {
    width: 10%;
    border-color:blue;

}

.mainButton6 {
    width: 10%;
    border-color:grey;
    color:grey;

}

.mainButton7 {
    width: 10%;
    border-color:blue;

}

.dropdown-menu {
    background-color: black;
    border-color: red;
    
}

.dropdown-item {
    color:red;
}

/**/
/*Card Message*/

.name {
    color:white;

}

.card-header {
    border-color: red;

} 
.card-footer {
    border-color: red;

} 

.card {
    background-color: black;
    border-color:red;
}
/**/

h5
{
    border: 1px red solid;
}

.imgfooter {
    width: 200px;
    height: 75px;
}


