
.Formbody {
    background-image: radial-gradient(circle at center,black 650px, red );
    padding-bottom: 0px;
    color: white;

}

.tittle {
    color: white;

}
.undertittle {
    color: white;

}

/* HR */
.my-4 {
    margin: 25%;
    height: 2px;
    background-image: radial-gradient(circle at center,black 50px, red );

}

.my-5 {
    margin: 25%;
    height: 2px;
    background-image: radial-gradient(circle at center,black 50px, yellow );

}
/**/

/* Modal Configue */
.modalVeryLarge {

    color: white;
}

.modal{
	background-image: radial-gradient(circle at center,black 650px, red );

}

.modal-body{
	background-image: url("../img/wowpage/nen.gif");
}

.modal-footer{
    background-color: black;
    border-top: 5px solid black;

}
.mainButton {
    width: 40%;
    border-color:blue;

}

.mainButtonmodal1 {
    width: 100%;
    border-color:red;
    
}

.mainButtonmodal {
    width: 100%;
    border-color:blue;
    
}
.mainButton2 {
    width: 50%;
    border-color:yellow;

}
.mainButton3 {
    width: 50%;
    border-color:red;

}
/**/

.table td, .table th, .table thead th {
    border: 1px solid red;
    color: red;

}

/* Carousel */
.d-block1 {
    width: 500px;
    height: 250px;
    margin: 10%;
    
}
/**/

label {
    color:white;
}

#exampleModal label {
    color: black;
}
