html {
    height: 100%;
}

body {
    height: 55%;
}
.Formbody {
    background-image:url(../img/wowpage/5.jpg);
    color: white;
    background-color: black;
    height: 200%;
}

.imgfooter {
    width: 900px;
}

.page-footer {
    background-color: black;
}

.imgfooterindex {
    width: 300px;
}

.tittle {
    color: white;

}
.undertittle {
    color: white;

}

.my-4 {
    margin: 25%;
    height: 1px;
    background-image: radial-gradient(circle at center,black 50px, red );

}

.modalVeryLarge {
    color: white;
}

.modal {
    background-image:url(../img/wowpage/kak.png);
	

}

.modal-header {
    background-color: black;
    border: black;
    color: white;
    border: 1px solid red;
}


.modal-body {
    background-color: black;
    color: white;
    border: 1px solid red;
    
}

.modal-footer {
    background-color: black;
    border-top: 5px solid black;

}
.mainButton {
    width: 40%;
    border-color:blue;

}

.mainButtonmodal {
    width: 100%;
    border-color:blue;
    
}

.mainButton0 {
    width: 11%;
    color:white;
    height: 35px;
        
}

.mainButtonmodal1 {
    width: 100%;
    
}

.mainButton2 {
    width: 50%;
    border-color:red;

}

.mainButton3 {
    width: 12%;
    border-color:red;
    background-color: black;
    

}
.mainButton4 {
    width: 30%;
    border-color:blue;

}

.mainButton5 {
    width: 12%;
    border-color:blue;
    background-color: black;

}

.mainButton6 {
    width: 12%;
    color:grey;
    background-color: black;
}

.mainButton7 {
    width: 12%;
    border-color:blue;
    color: blue;
    background-color: black;

}

.mainButton8, a {
    width: 10%;
    border-color:red;
    height: 35px;
}

.modal button {
    color: white;
    border-color:blue;
    background-color: black; 
    width: 100%;
}

.table td, .table th, .table thead th {
    border: 2px solid red;
    color: white;
    width: 15%;

}

/* Carousel */
.d-block1 {
    width: 600px;
    height: 250px;
    
}
/**/

label {
    color:red;

}


.form-inline .form-control {
    color: blue;
    border-color: blue;
    background-color: black;

}

.navbar {
    /*background-image: radial-gradient(circle at center,red 50px, black );*/
    background-color: black;
    border: 1px solid red;
    
}

.text-uppercase {
    color: red;
    font-size: 1 rem;
    margin-top: 15px;
}




.dropdown-menu {
    background-color: black;
    border-color: red;
    
}

.dropdown-item {
    color:red;
}

.name {
    color:white;

}

.card-header {
    border-color: red;

} 
.card-footer {
    border-color: red;

} 

.card {
    background-color: black;
    border-color:red;
}

.imgfooter {
    width: 200px;
    height: 75px;
}

.titletopic {
    color: red;
}

.name {
    color:red;
}

.pseudo{
    color:white;
}

.page-link:not(:disabled):not(.disabled) {
    background-color: black;
    border-color: red;
}

.reponse {
    border-color: blue;
   
}

.textY {
    color:red;
}

.textFB {
    color:blue;
}

.textD {
    color:grey;
}