<!-- Modal Recrutement-->
<div class=" modal fade bd-example-modal-lg" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content modalVeryLarge bg-transparent">
            <h2><u><p class="font-weight-bold text-center">Le recrutement</p></u></h2> 

            <p>Chaque candidature doit répondre aux questions présentées dans la candidature type du forum.
            Elle doit être complète, claire, rédigée de façon correcte avec un effort de grammaire et d'orthographe.
            Les candidatures seront étudiées par l’ensemble des raiders et corps d’officier, en particulier par les joueurs connaissant la classe postulante.
            Le guildage d’une recrue ne se fera qu’après concertation et d’un entretien vocal avec l’un des responsables de la guilde.
            </p>
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th scope="col">Classe</th>
                        <th scope="col">Spécilisation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/dh.gif"> Chasseur de démon</th>
                        <td><img src="src/img/recherspé/dhdevastation1.png"> <img src="src/img/recherspé/dhvengeance1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/dk.gif">  Chevalier de la Mort</th>
                        <td><img src="src/img/recherspé/dkblood1.png"> <img src="src/img/recherspé/dkfrost1.png"> <img src="src/img/recherspé/dkunholy1.png"></td>
                    </tr> 
                    <tr>
                        <th scope="row"><img src="src/img/classewow/chaman.gif"> Chaman</th>
                        <td><img src="src/img/recherspé/chamelem1.png"> <img src="src/img/recherspé/chamelio1.png"> <img src="src/img/recherspé/chamheal1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/pretre.gif"> Prêtre</th>
                        <td><img src="src/img/recherspé/pretredps1.png"> <img src="src/img/recherspé/pretreheal1.png"> <img src="src/img/recherspé/pretreholyheal1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/chasseur.gif"> Chasseur</th>
                        <td><img src="src/img/recherspé/chasseurbm1.png"> <img src="src/img/recherspé/chasseurpreci1.png"> <img src="src/img/recherspé/chasseursurvie1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/demo.gif"> Démoniste</th>
                        <td><img src="src/img/recherspé/demoaffli1.png"> <img src="src/img/recherspé/demodestru1.png"> <img src="src/img/recherspé/demonologie1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/moine.gif"> moine</th>
                        <td><img src="src/img/recherspé/moinedps1.png"> <img src="src/img/recherspé/moineheal1.png"> <img src="src/img/recherspé/moinetank1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/paladin.gif"> Paladin</th>
                        <td><img src="src/img/recherspé/palaheal1.png"> <img src="src/img/recherspé/palaret1.png"> <img src="src/img/recherspé/palatank1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/voleur.gif"> Voleur</th>
                        <td><img src="src/img/recherspé/voleur1.png"> <img src="src/img/recherspé/voleurassa1.png"> <img src="src/img/recherspé/voleurfinesse1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/druide.gif"> Druide</th>
                        <td><img src="src/img/recherspé/druidebalance1.png"> <img src="src/img/recherspé/druideheal1.png"> <img src="src/img/recherspé/druidetank1.png"> <img src="src/img/recherspé/druidedps1.png"></td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="src/img/classewow/guerrier.gif"> Guerrier</th>
                        <td><img src="src/img/recherspé/guerrierarme1.png"> <img src="src/img/recherspé/guerrierfurreur1.png"> <img src="src/img/recherspé/guerriertank1.png"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </tbody>
            </table>             
        </div>
    </div>
</div>