<!-- Modal Compte renseignement-->
<div class="modal fade " id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"><h5>Information de votre Compte</h5></div>
                <div class="modal-body function">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div> 
    </div>
</div>
    