<!-- Modal Réglement-->
<div class=" modal fade bd-example-modal-lg" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content modalVeryLarge bg-transparent">
        <div class="modal-header"></div>   
            <h1><u><p class="font-weight-bold text-center">Charte de guilde :</p></u></h1>
            <h3><u><p>Etat d’esprit de la guilde</p></u></h3> 
            
            <p>La guilde Heroes of the horde a été créée en …………, par un groupe de joueurs soudés et animés par la même passion pour le PVE ET PVP sur World Of Warcraft.
            Nous attachons beaucoup d’importance à l’ambiance de la guilde et à la bonne entente entre ses membres. Par conséquent, nous privilégierons toujours les joueurs calmes, patients et matures.
            </p>

            <h2><u><p class="font-weight-bold text-center">Hiérarchie</p></u></h2>                               
            <h3><u><p>Le maître de guilde et les officiers :</p></u></h3>
            
            <p>Il n’y a aucune différence entre ces deux grades qui impliquent une responsabilité dans la gestion et l’organisation des raids, du roster et de la banque de guilde.
            La prise de décision se fera, dans la plupart des cas, lors des réunions organisées après les soirs de raid à la demande des membres, officiers et gm.
            Les officiers ne sont pas là pour régler les conflits entre les membres.
            Merci donc de vous comporter de façon mature, il serait dommage que ce grade s’apparente à celui de policier.
            </p>
            
            <h3><u><p>Le raider :</p></u></h3>
            
            <p>Le raider fait partie d roster? il est prioritaire pour les raids. Il doit se rendre disponible les soirs de raid pour la guilde. Le raider s’engage à connaître la classe et les spécialisations qu’il joue en raid et à les optimiser au mieux avec les outils proposés sur le jeu
            ( addons, gemmage, et enchantement et amélioration d’objet, etc ….) C:\xampp\php\php.exe .\bin\console server:run
            </p>f

            <h3><u><p>Le reroll :</p></u></h3>
            
            <p>Tout membre peut demander le guildage de ses rerolls.
            Les rerolls n’ont aucune obligation en termes de temps et de présence.
            Tout raider peut faire avec son reroll ce que bon lui semble, tant que cela n'empiète pas sur son temps de présence et d'optimisation de son personnage principale.
            Les rerolls avec un équipement équivalent au main qui peuvent permettre de dépanner le roster seront les bienvenu.( addons, gemmage, et enchantement et amélioration d’objet, etc ….) seront ainsi demander.
            </p>

            <h2><u><p class="font-weight-bold text-center">Règles générales à respecter</p></u></h2>
            <h3><u><p>Le Forum :</p></u></h3>
            
            <p>C’est un outil de communication indispensable entre les membres de la guilde, notamment en ce qui concerne:
            la planification des raids et les stratégies de boss
            les informations concernant le roster
            les métiers des membres et les crafts disponibles dans ces métiers
            les absences et indisponibilités des membres
            toute remarque / question qu’un membre souhaite partager avec la guilde
            </p>

            <h3><u><p>Respect et Politesse :</p></u></h3>
            
            <p>Les membres se doivent de rester respectueux et polis les uns envers les autres, sans avoir besoin de l’intervention d’un officier de la guilde. Les conflit doivent rester privés et être gérés avec maturité et discrétion.
            Aucun réglement de compte public ne sera donc toléré au sein de la guilde.
            Veillez ne pas avoir de propos désobligeants sur le canal générales, commerce ou sur les forums officiels.
            </p>

            <h3><u><p> La banque de Guilde :</p></u></h3>
            
            <p>Outre le respect et la politesse qu’elle exige, la vie en communauté au sein de la guilde implique également le concept de partage.
            La banque permet le stockage de tous les items pouvant communément être utiles a chaque membre de la guilde.
            </p>

            <h3><u><p>Absences et indisponibilités :</p></u></h3>
            
            <p>Tout membre du roster a pour obligation de prévenir les autres membres en cas d’absence ou de retard, en particulier lorsqu'un raid est programmé. Les périodes de vacances pendant lesquelles les raiders ne pourront pas être présents en raid doivent être indiquées sur le Forum.
            </p>

            <h2><u><p class="font-weight-bold text-center">Organisation des Raids</p></u></h2> 
            <h3><u><p>Performance et optimisation en raid :</p></u></h3>
            
            <p>Heroes of the horde étant une guilde axée Pve, il y va de soi que son activité principale reste les raids proposés sur WoW.
            Nous attendons donc de chacun de nos joueurs une optimisation de leur personnage et de leur gameplay.
            
            Les stratégies des boss seront, postées sur le Forum Pour que tous les membres puissent prendre connaissance des différentes stratégies.
            S’il venait à manquer une stratégie sur le forum, les membres sont invités a se renseigner par leurs propres moyens et à venir en raid en connaissant le mécanisme des combats que nous rencontrons. 
            A chaque rencontre d’un nouveau boss, le raid leader expliquera la stratégie adoptée et à suivre durant le déroulement du combat.
            Il est indispensable que l’ensemble du raid montre un silence total du Discord pendant ces explications.
            </p>

            <h3><u><p>Utilisation du Discord :</p></u></h3>
            
            <p>Durant les raids nous utilisons Discord de façon à avoir une communication entre raiders et de permettre de faciliter les explications des boss. 
            Grace a se vocal, nous pourrons diffuser des vidéos pour faciliter les explications et donnés plus de précisions dans les stratégies. 
            Le restant de la journée le Discord reste à la disponibilités des membres de la guilde pour faire vivre l’ambiance de la guilde et leurs permettre une meilleur cohésion.
            </p>

            <h3><u><p>Soirs de raid :</p></u></h3>
            
            <p>Les raids ont habituellement lieu le mercredi et jeudi de 20H45 à 23H30.
            Le lundi pourra éventuellement servir à organiser un run Nm ou MM+.
            </p>

            <h3><u><p>Inscriptions :</p></u></h3>
            
            <p>Afin d’organiser au mieux nos soirées de raid et de permettre à nos guildeux de connaître de la soirée au plus tôt, nous demandons à nos raiders de s’inscrire sur le calendar de wow pour toute la semaine de raid, et ce dès le lundi soir précédant le renouvellement des Id le mercredi.
            En cas d’annulation ou de modification de statut, pensez toujours à prévenir la guilde ou l’un de ses membres dans la mesure du possible.               
            Les officiers prépareront les groupes pour la semaine, les jours de raid (avant 18H). Il pourront ainsi prévoir de mettre les raiders en attentes ou au contraire recruter des PU pour compléter les groupes.
            </p>

            <h3><u><p>Groupage et pull :</p></u></h3>
            
            <p>Le groupage sera effectué par un officier ou par le gm de la guilde.
            De façon à optimiser notre temps de raid, les raiders sont invités à être prêts avec tout ce dont ils auront besoin au cours du raid. Le départ étant à 20H45 et que l’on puisse débuter le premier pull dans les 10/15 min qui suivent le groupage. 
            Si une personne rencontre un problème de dernière minute, elle est invitée à le signaler le plus rapidement possible via le Forum ou Discord, de façon à ce que le Raid Leader puisse le remplacer. 
            Il sera envisageable qu’un raid se finisse plus tôt pour une réunion de guilde.
            </p>

            <h3><u><p>Pause :</p></u></h3>
            
            <p>Une pause de 10 min sera effectuée durant le raid, généralement vers 22H30.
            Veillez à être de retour à l’heure indiquée pour faciliter la continuité du raid.
            </p>

            <h3><u><p>Distribution des loots :</p></u></h3>
            
            <p>Pour faciliter la distribution des loots et ne pas perdre de temps. le butin sera mis en “butin personnel”, ce qui permettra un gagne temps pour le raid, cela permettra aussi une disponibilité varié des loots et une distribution entre guildeux.
            Tous items looté est inutilisé seront désenchantés par un enchanteur de la guilde.
            Les composants récupéré iront ainsi dans la banque de guilde, pour permettre la création de patron. 
            </p>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary mainButtonmodal1" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>